<p><span>SHOP INFOMATION</span></p>

<%= form_for(shop) do |f| %>
  <div>
    <%= f.label :name %> <br>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :address %> <br>
    <%= f.text_field :address %>
  </div>

  <div>
    <%= f.label :business_period %> <br>
    <%= f.text_field :business_period %>
  </div>

  <div>
    <%= f.label :staition %> <br>
    <%= f.text_field :staition %>
  </div>

  <div>
    <%= f.label :tel %> <br>
    <%= f.text_field :tel %>
  </div>

  <div>
    <%= f.label :url %> <br>
    <%= f.text_field :url %>
  </div>

  <div>
    <%= f.label :information %> <br>
    <%= f.text_area :information %>
  </div>

  <div>
    <%= f.label :images %> <br>
    <%= f.file_field :images %>
  </div>
  
<br>
  <div>
    <p>タグ</p>
    <%= text_field_tag 'shop[brand_list]', shop.brand_list.join(","), class: "form-control" %>
  </div>

  <% if request.path_info == new_shop_path  %>
    <%= f.submit '登録' %>
  <% else %>
    <%= f.submit '更新' %>
  <% end %>
<% end %>