<div class="form_page">
  <% if @shop.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <ul>
        <% @shop.errors.full_messages.each do |message| %>
          <li class="error_message"><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form shop_form">
    <div class="form_title">
      <% if request.path_info == new_shop_path or request.fullpath == '/shops' %>
        <h3>POST SHOP</h3>
      <% else %>
        <h3>UPDATE SHOP</h3>
      <% end %>
    </div>
    <%= form_for(shop) do |f| %>
      <div class="field">
        <div class="field_label">
          <%= f.label :name %><span class='required'>必須</span>
        </div>
        <div class="field_area">
          <%= f.text_field :name, placeholder:"例) Tsunagi" %>
        </div>
      </div>

      <div class="field">
        <div class="field_label">
          <%= f.label :address %><span class="required">必須</span>
        </div>
        <div class="field_area">
          <%= f.text_field :address, placeholder:"例) 東京都渋谷区神南1-1-1" %>
        </div>
      </div>

      <div class="field">
        <div class="field_label">
          <%= f.label :business_period %><span class='required'>必須</span>
        </div>
        <div class="field_area">
          <%= f.text_field :business_period, placeholder:"例) 10:00~20:00 毎週水曜 定休日" %>
        </div>
      </div>

      <div class="field">
        <div class="field_label">
          <%= f.label :staition %><span class='required'>必須</span>
        </div>
        <div class="field_area">
          <%= f.text_field :staition, placeholder:"例) 渋谷駅" %>
        </div>
      </div>

      <div class="field">
        <div class="field_label">
          <%= f.label :tel %>
        </div>
        <div class="field_area">
          <%= f.text_field :tel, placeholder:"例) 0120-123-456" %>
        </div>
      </div>

      <div class="field">
        <div class="field_label">
          <%= f.label :url %>
        </div>
        <div class="field_area" >
          <%= f.text_field :url, placeholder:'例) http://www.sample.xxx.co.jp/' %>
        </div>
      </div>

      <div class="field">
        <div class="field_label">
          <%= f.label :information %><span class='required'>必須</span>
        </div>
        <div class="field_area">
          <%= f.text_area :information, rows: "5",placeholder:"例) 取扱いブランドも豊富で、スタッフの方がフレンドリーなため、初見の方でも来店しやすいです。"%>
        </div>
      </div>

      <div class="field">
        <div class="field_label">
          <%= f.label :images %>
        </div>
        <div class="field_area image_field">
          <%= image_tag("material/material_01.png") %>
          <p class="image_field_title">写真を選択</p>
          <%= f.file_field :images %>
        </div>
      </div>
      <div class="field">
        <div class="field_label">
          取扱いブランド ＊カンマ(,)区切りで入力してください。<span class='required'>必須</span>
        </div>
        <div class="field_area">
          <%= text_area_tag 'shop[brand_list]', shop.brand_list.join(","), class: "form-control",rows:"3", placeholder:"例) SUNSEA,UNUSED,Needless"%>
        </div>
      </div>
      <br>
      <% if request.path_info == new_shop_path or request.fullpath == "/shops"  %>
        <%= f.submit "登録" %>
      <% else %>
        <%= f.submit "更新" %>
      <% end %>
    <% end %>
  </div>
</div>