<%= render 'layouts/flash'%>
<div class="site_map">
  <%= image_tag("top_page_image",:class => "site_image") %>
  
  <% if user_signed_in? %>
    <%=link_to 'Let\'s share recommended shops' ,new_shop_path %>
  <% else %>
    <%=link_to 'Let\'s share recommended shops' ,'/pages/start' %>
  <% end %>
</div>
<div class="shop_content">
  <% @shops.each do |shop|%>
    <div class="shops_label">
      <%= link_to shop_path(shop.id) do %>
        <% if shop.images? %>
          <%= image_tag shop.images.thumb.url %>
        <% else %>
          <%= image_tag 'koeda.png' %>
        <% end %>
        <div class="shop_info">
          <p class="shop_name"><%= shop.name %></p>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
