<%= stylesheet_link_tag    'shop/form' %>
<div class="form_page">
  <div class="form search_form">
    <div class="form_title">
      <h3>ショップ検索</h3>
      <div class="field_label">
        <p>ブランド名で検索をしてください</p>
      </div>
    </div>
    <%= form_tag(search_shops_path, :method => :get) do %>
      <%= text_area_tag :name %>
      <%= submit_tag '検索',:name => nil %>
    <% end %>
  </div>
  <div class="shop_content">
    <% if @brands.present? %>
      <% @brands.each do |brand|%>
        <div class="shops_label">
          <% if brand.images? %>
            <%= link_to shop_path(brand.id) do %>
              <%= image_tag brand.images.thumb.url %>
            <% end %>
          <% else %>
            <%= link_to shop_path(brand.id) do %>
              <%= image_tag 'koeda.png' %>
            <% end %>
            <div class="shop_info">
              <p class="shop_name"><%= brand.name %></p>
            </div>     
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>