<%= render 'layouts/flash'%>
<div class="shop_content">
  <div class="shop_content_main">
    <%= render 'shops/shop'%>
    <div class='shop_review'>
        <h3>口コミ</h3>
        <div class="line"></div>
          <% @reviews.limit(5).each do |review|%>
            <div class="shop_review_content">
              <%= link_to user_path(review.user_id) do %>
                <div class='review_title'><%= review.title %></div>
              <% end %>
              <% if review.user_id == current_user.id %>
                <%= link_to '編集', edit_shop_review_path(@shop.id,review.id),class:'btn'%>
                <%= link_to '削除', shop_review_path(@shop.id,review.id),method: :delete,class:'btn' %>
              <% end %>
              <%= link_to shop_review_path(@shop.id,review.id) do %>
                <div class="review_comment"><%= review.comment.truncate(135) %></div>
              <% end %>
            <div class="review_time"><%= review.created_at.strftime('%Y/%m/%d')%></div>
          </div>      
        <% end %>
      <%= link_to "すべて見る(#{@shop.reviews.count})", shop_reviews_path(@shop.id), class:'all_post_reviews'%>
    </div>
    <br>
    <%= link_to 'コメントをする', new_shop_review_path(@shop.id) %>
  </div>
</div>



