<%= stylesheet_link_tag    'user/show', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= render 'layouts/flash'%>
  <div class='user_info'>
    <h3 class='user_info_label'>登録情報</h3>
    <div class='option_btn'>
      <% if @user == current_user %>
        <%= link_to 'Option', option_user_path(@user.id) ,class:'btn'%>
      <% end %>
    </div>
    <ul class='user_info_lists'>
      <li class='user_info_list'><%= @user.name %></li>
      <li class='user_info_list'><%= @user.age %>歳</li>
      <li class='user_info_list'><%= @user.sex %></li>
      <p class='user_fav_brand_label'>■お気に入りブランド</p>
      <% if  @user.fav_brand.nil? %>
        <li class="user_info_list">なし</li>
      <% else %>
        <li  class="user_info_list"><%= @user.fav_brand %></li>
      <% end %>
    </ul>
  </div>
  <div class='line'></div>
  <%=render 'users/user_shops'%>
  <%= link_to "すべて見る(#{@shops.size})", shops_user_path(@user.id),class:'all_post_shops'%>
  <div class="line"></div>
  <%= render 'user_reviews'%>
  <%= link_to "すべて見る(#{@user.reviews.count})", reviews_user_path(@user.id), class:'all_post_reviews'%>

    
