
<p>マイページ</p>
<ul>
  <li>名前:<%= @user.name %></li>
  <li>年齢:<%= @user.age %>歳</li>
  <li>性別:<%= @user.sex %></li>
  <% if  @user.fav_brand.nil? %>
    <li>お気に入りブランド:なし</li>
  <% else %>
    <li>お気に入りブランド:<%= @user.fav_brand %></li>
  <% end %>
</ul>

<%= link_to 'プロフィールを編集', edit_user_path(current_user.id) %>
<%= link_to 'お問い合わせ', '/pages/contact'%>

<p><span><%=@user.name %> :投稿ショップ一覧</span></p>

<% @user.shops.each do |shop|%>
  <strong><%= shop.name%></strong><br>
  <%= link_to shop_path(shop.id) do %>
    <% if shop.images? %>
      <%= image_tag shop.images.thumb.url %>
    <% else %>
      <%= image_tag 'koeda.png' %>
    <% end %>
  <% end %>
  <hr> 
<% end %>

<strong><hr></strong>
<p><span>レビュー一覧</span></p>
<% @user.reviews.each do |user_review| %>
  <%=link_to shop_path(user_review.shop_id) do %>
    <p><%= user_review.title %>:</p>
    <% end %>
    <p><%= user_review.comment %></p>
    <br>
<% end %>

