
<h1>Tag#show</h1>

<%= @brand.name %>
<hr>
<h3><%= @brand.name %> has Shops</h3>

<% @shops.each do |shop|%>

  <%= link_to shop_path(shop.id) do %>
    <%= shop.name %>
    <br>
  <% end %>
  <% if shop.images? %>
      <%= image_tag shop.images.thumb.url %>
    <% else %>
      <%= image_tag 'koeda.png' %>
    <% end %>
<% end %>

