<div class="form_page">
  <div class="form review_form">
    <div class="form_title">
      <% if request.path_info == new_shop_review_path or request.fullpath == "/shops/#{@shop.id}/reviews"  %>
        <h3>POST REVIEW</h3>
      <% else %>
        <h3>UPDATE REVIEW</h3>
      <% end %>
    </div>
    <%= form_for [@shop,@review] do |f| %>
      <div class="field">
        <div class="field_label">
          <%= f.label :title %><span class='required'>必須</span>
        </div>
        <div class="field_area">
          <%= f.text_field :title %>
        </div>  
      </div>
      
      <div class="field">
        <div class="field_label">
          <%= f.label :comment %><span class='required'>必須</span>
        </div>
        <div class="field_area">
          <%= f.text_area :comment ,rows:"10"  %>
        </div>
      </div>
      <%= f.submit '投稿する'%>
    <% end %>
  </div>
</div>