<div class='header'>
<h5 class="page_summary">あなたのおすすめセレクトショップの情報をシェアしよう</h5>
  <h2><%= link_to 'Nil',root_path,class:'title' %></h2>
  
  <nav>
    <ul class='h_nav'>  
      <% if user_signed_in? %> 
        <li class='h_nav_list'><%= link_to 'マイページ',user_path(current_user.id),class:'h_nav_menu' %></li>
      <% else %>
        <li class='h_nav_list'><%= link_to 'はじめる','/pages/start',class:'h_nav_menu' %></li>
      <% end %>
      <li class='h_nav_list'><%= link_to '検索',search_shops_path,class:'h_nav_menu' %></li>
      <li class='h_nav_list'><%= link_to '投稿する',new_shop_path,class:'h_nav_menu' %></li>
    </ul>
  </nav>
</div>
